.country-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px 0 0;

  min-width: 300px;
  width: 50%;
  max-width: 50%;
  height: fit-content;

  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 20px;

  color: #fff;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.first-block {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 100%;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}

.flag-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 2px solid #ffffff50;

  height: 100%;

  padding: 0 8px;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.icon-flag-wrapper {
  margin: 8px 0;
}

.icon-flag-wrapper .icon-flag {
  font-size: 20px;
  color: #eee;
  text-shadow: #000 1px 0 10px;
}
